<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kongoji.reanimationtest" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ReanimationScreen"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".DocumentationScreenListActivity"
            android:label="@string/title_documentationscreen_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DocumentationScreenDetailActivity"
            android:label="@string/title_documentationscreen_detail"
            android:parentActivityName=".DocumentationScreenListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kongoji.reanimationtest.DocumentationScreenListActivity" />
        </activity>
    </application>

</manifest>
